<?xml version="1.0" ?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2022-present JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<update id="Jajuma::top_level"
             module="Jajuma_DynamicShippingTax"
             resource="Jajuma_General::jajuma_extensions"
             sortOrder="65"
             title="JaJuMa"/>

		<add id="Jajuma_DynamicShippingTax::jajuma_dynamicshippingtax"
			 title="Dynamic Shipping Tax"
			 module="Jajuma_DynamicShippingTax"
			 sortOrder="1400"
			 resource="Jajuma_DynamicShippingTax::config_jajuma_dynamicshippingtax"
			 parent="Jajuma::top_level"/>
		<add id="Jajuma_DynamicShippingTax::jajuma_dynamicshippingtax_info"
			 title="Info + Manual"
			 module="Jajuma_DynamicShippingTax"
			 sortOrder="1410"
			 parent="Jajuma_DynamicShippingTax::jajuma_dynamicshippingtax"
			 action="admin/system_config/edit/section/dynamicshippingtax"
			 resource="Jajuma_DynamicShippingTax::config_jajuma_dynamicshippingtax"/>
		<add id="Jajuma_DynamicShippingTax::jajuma_dynamicshippingtax_configuration"
			 title="Configuration"
			 module="Jajuma_DynamicShippingTax"
			 sortOrder="1420"
			 parent="Jajuma_DynamicShippingTax::jajuma_dynamicshippingtax"
			 action="admin/system_config/edit/section/tax"
			 resource="Jajuma_DynamicShippingTax::config_jajuma_dynamicshippingtax"/>

		<update id="Jajuma::extensions"
             module="Jajuma_DynamicShippingTax"
             resource="Jajuma_General::jajuma_extensions"
             sortOrder="10000"
             parent="Jajuma::top_level"
             title="JaJuMa Extensions"/>
		<update id="Jajuma_Extensions::extensions_link"
             title="More JaJuMa Extensions" module="Jajuma_DynamicShippingTax"
             sortOrder="10010"
             action="dynamicshippingtax/extensions"
             parent="Jajuma::extensions"
             resource="Jajuma_General::jajuma_extensions"/>

	</menu>
</config>